.radial-menu-container {
  position: relative;
  z-index: -1;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#a1c4fd, #c2e9fb, #ffecd2, #f5efef, #cfd9df, #93a5cf);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  scroll-behavior: smooth !important;
}
