.App {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#a1c4fd, rgb(194, 233, 251), #ffecd2, #f5efef, #cfd9df, #93a5cf);
  display: inline-block;
  min-width: 98vw;
}

html {
  scroll-behavior: smooth !important;
}

@media screen and (min-width: 2200px) {
  .App {
    min-width: 99.3vw;
  }
}