
.section-title {
    color: #fdb8ae;
    padding-left: 14%;
    padding-bottom: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

.card {
    font-family: 'Poppins', sans-serif;
}

#thank {
    font-weight: 700;
}

input[type="text"]
{
    background: transparent;
    border: none;
    border-bottom: solid 1px black;
}

input[type="email"]
{
    background: transparent;
    border: none;
    border-bottom: solid 1px black;
}

#materialContactFormMessage
{
    background: transparent;
    border: none;
    border-bottom: solid 1px black;
}