.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-image: linear-gradient(#a1c4fd, #b9defc) ;
    width: 100vw;
}

.navbar-brand {
    color: #fcceb1;
}

.nav-link {
    color: black;
    margin-left: 1.5rem;
}

.nav-link:hover {
    color: #fcceb1;
}

#logo {
    width: 50px;
}