.navbar {
    transition: top 0.5s ease;
    
}

.navbar-hide {
    top: -56px;
}


.navbar-nav ol {
    list-style: decimal;
    color: black;
}


.navbar {
    font-size: 15px;
    background: none;
}

.navbar-brand {
    color: #86C232
}

.nav-link {
    color: #182628;
    margin-left: 1.5rem;
}

.nav-link:hover {
    color: #61892F;
}

.btn {
    margin-left: 1.5rem;
}

.resume {
    color: black !important;
    border-color: #182628 !important;
}

.resume:hover {
    background-color: white !important;
}