.section-title {
    color: #fdb8ae;
    padding-left: 14%;
    padding-bottom: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

.card-body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

.container-xl {
  padding: 10px;
}

.col-md-4 {
  padding: 0 !important;
}

.card-img-top {
  padding: 60px !important;
}