.card {
    background-color: transparent !important;
}

.section-title {
  color: #fdb8ae;
  padding-left: 14%;
  padding-bottom: 1vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

i {
    font-size: 2rem;
}

.skills {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 200px;
}

.small-cell {
    width: 120px !important;
}